#cabecera{
	width:100%;
	height:400px;
}


.container{
		width: 100%;
		max-width: 1500px;
		margin: auto;
	}

.container .btn-menu, .logo{
		float: left;
		line-height:100px;
}

.container .btn-menu label{
		color: black;
		font-size: 50px;
		cursor: pointer;
	}
.logo h1{
		color: #fff;
		font-weight: 400;
		font-size: 22px;
		margin-left: 10px;
	}
	.container .menu{
		float: left;
		line-height: 100px;
	}
	.container .menu a{
		display: inline-block;
		padding: 15px;
		line-height: normal;
		text-decoration: none;
		color: #fff;
		transition: all 0.3s ease;
		border-bottom: 2px solid transparent;
		font-size: 15px;
		margin-right: 5px;
	}
	.container .menu a:hover{
		border-bottom: 2px solid #c7c7c7;
		padding-bottom: 5px;
	}

#btn-menu{
		display: none;
	}
	.container-menu{
		position: absolute;
		background: rgba(0,0,0,0.5);
		width: 100%;
		height: 100vh;
		top: 0;left: 0;
		transition: all 500ms ease;
		opacity: 0;
		visibility: hidden;
	}
	#btn-menu:checked ~ .container-menu{
		opacity: 1;
		visibility: visible;
	}
	.cont-menu{
		width: 100%;
		max-width: 250px;
		background: #1c1c1c;
		height: 100vh;
		position: relative;
		transition: all 500ms ease;
		transform: translateX(-100%);
	}
	#btn-menu:checked ~ .container-menu .cont-menu{
		transform: translateX(0%);
	}
	.cont-menu nav{
		transform: translateY(15%);
	}
	.cont-menu nav a{
		display: block;
		text-decoration: none;
		padding: 20px;
		color: #c7c7c7;
		border-left: 5px solid transparent;
		transition: all 400ms ease;
	}
	.cont-menu nav a:hover{
		border-left: 5px solid #c7c7c7;
		background: #1f1f1f;
	}
	.cont-menu label{
		position: absolute;
		right: 5px;
		top: 10px;
		color: #fff;
		cursor: pointer;
		font-size: 18px;
	}
	
#we{
	width:1330px;
	height:500px;
	
}

.xd{
	width:1330px;
	height:250px;
}

.mue{
	width:723px;
	height:300px;
}
.p{
color:#0D68BB;
font-size:60px;
}

.ble{
	width:600px;
	height:300px;
}

.mueble{
	width:300px;
	height:400px;
}

.tabla{
	border:2px;
	color:black;
	width:100%;
	text-align: center;
}

.ce{
	width:1330px;
	height:500px;
}

.{
color:#0D68BB;
font-size:60px;
}

.p{
color:#0D68BB;
font-size:60px;
}